/**
 * CSS styles for Litheskateboards Woocommerce customizations
 * Version: 1.5.15
 * (version above is equal with main plugin file version when this file was updated)
 */
 
/* == Custom design classes == */
.top_aligned_content {
    vertical-align: top;
}
.dimension_button a {
    color: #12ff1e;
    line-height: 39px;
    display: block;
}
.dimension_button {
    background-color: #111111;
    margin: 5px 0 5px 3px;
    height: 38px;
    border-radius: 4px;
    text-align: center;
	border: 1px solid #444444;
}
.dimension_button a:hover, 
.dimension_button a:focus {
    text-decoration: none;
}
 
/* LSWC Header changes */
html {
    background-color: #212121;
}
body:not(.single-product) #wrap_all {
    background-color: #212121 !important;
}
body.single-product #wrap_all {
    background-color: #252525 !important;
}
body.single-product p+h1 {
    margin-top: 20px;
}
html, div#main, div#main .avia-section { 
	max-width: 100vw !important; 
	float: unset;
}
.main_menu a.cart_dropdown_link {
	padding: 0 20px !important;
}
div.container * {
    overflow-wrap: break-word;
}
@media only screen and (max-width: 860px) {
	.main_menu a.cart_dropdown_link {
		padding: 0 !important;
	}
	.responsive .main_menu ul:first-child > li > a {
		padding: 0 6px;
	}
	#header_main nav.main_menu .avia-menu {
		padding-right: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.main_menu .avia-menu-text {
		letter-spacing: 0.06em;
	}
	#header_main .container {
		width: 95% !important;
		max-width: 95% !important;
	}
	.responsive #top #header_main #menu-item-shop .cart_dropdown_link {
		line-height: 90px;
	}
	.responsive #top #menu-item-shop.cart_dropdown {
		padding: 0 8px !important;
	}
	.responsive #top #header_main > .container .main_menu .av-main-nav > li > a, 
	.responsive #top #wrap_all .av-logo-container {
		height: 90px;
		line-height: 90px;
	}
	.responsive #top #header_main > .container .main_menu .av-main-nav > li > a {
		padding: 0 8px 0 8px;
	}
	.responsive #top .av-main-nav .menu-item {
		display: list-item;
	}
	.responsive #top #header .main_menu .social_bookmarks {
		display: none;
	}
	.responsive #top #wrap_all .main_menu, 
	.responsive #top .logo {
		height: 90px !important;
		width: fit-content;
		width: -moz-fit-content;
	}
	.responsive .logo img {
		max-width: fit-content !important;
	}
	li.av-burger-menu-main.menu-item-avia-special.av-small-burger-icon {
		display: none !important;
	}
	.avia-menu.av-main-nav-wrap.av_menu_icon_beside {
		border: none;
	}
	#wrap_all > #header {
		position: fixed !important;
	}
	body.admin-bar #wrap_all > #header {
		top:46px;
	}
	body:not(.admin-bar) #wrap_all > #header {
		top:0;
	}
	body > #wrap_all > #main {
		margin-top: 90px !important;
	}
	main.template-shop.content {
		padding-top: 20px;
	}
	.template-shop .page-title {
		padding: 32px 0 0 0 !important;
	}
}
@media (max-width: 520px) {
	body.home #layerslider_10 {
		margin-top: 70px !important;
	}
	body > #wrap_all > #main {
		margin-top: 180px !important;
	}
	#header_main nav.main_menu {
		display: block !important;
		position: relative !important;
	}
	#header_main nav.main_menu .avia-menu {
		margin-right: 0;
		padding-right: 0;
	}
	.responsive #top .logo {
		width: 100%;
	}
	.responsive .logo img {
		margin: 0 auto !important;
	}
	.main_menu #menu-item-shop {
		float: right;
	}
	.responsive #top #wrap_all .main_menu {
		margin: 0 auto;
	}
	.responsive #top #menu-item-shop.cart_dropdown {
		float: left;
		margin-left: 0;
	}
	.responsive #top #header_main > .container .main_menu .av-main-nav > li > a {
		padding: 0 6px 0 6px;
	}
}
#header .logo {
	padding: 5px 0 !important;
}
#header_main { 
	background: #000000; 
	max-width: 100vw;
}

/* Set up a "sticky_column" class to use wherever is needed, BUT we first need to set some overflows for this to work */
/* Please see the JS for the function that's adding/removing the class */
body#top, div#wrap_all { overflow: unset !important; }
.sticky_column { position: sticky !important; z-index:99 !important; }
.sticky_involved, #header { transition-duration: .2s; }
/* This padding-top below MUST be the same as header height for this to work. Current header height is set in Header Custom Height field in Header section in Theme Options */
@media (min-width: 768px) {
	.html_header_top.html_header_sticky #top #wrap_all #main { padding-top: 70px !important; }
}
/* And now, the changes: */
/* min783 - Ddesktop layout */
@media (min-width: 783px) {
	body.admin-bar .sticky_column { top: 102px; }
	body:not(.admin-bar) .sticky_column { top: 70px; }
	body.admin-bar .sticky_touched { transform: translateY(-70px); }
	body:not(.admin-bar) .sticky_touched { transform: translateY(-70px); }
}
/* max782 - Admin bar changes */
@media (max-width: 782px) and (min-width: 768px) {
	body.admin-bar .sticky_column { top: 116px; }
	body:not(.admin-bar) .sticky_column { top: 70px; }
	body.admin-bar .sticky_touched { transform: translateY(-70px); }
	body:not(.admin-bar) .sticky_touched { transform: translateY(-70px); }
}
/* max767 - Lithe header changes */
@media (max-width: 767px) and (min-width: 521px) {
	div#wpadminbar { position: fixed; }
	body.admin-bar .sticky_column { top: 136px; }
	body:not(.admin-bar) .sticky_column { top: 90px; }
	body.admin-bar .sticky_touched { transform: translateY(-90px); }
	body:not(.admin-bar) .sticky_touched { transform: translateY(-90px); }
}
/* max520 - Lithe header changes again; */
@media (max-width: 520px) {
	div#wpadminbar { position: fixed; }
	body.admin-bar .sticky_column { top: 140px; }
	body:not(.admin-bar) .sticky_column { top: 92px; }
	body.admin-bar .sticky_touched { transform: translateY(-94px); }
	body:not(.admin-bar) .sticky_touched { transform: translateY(-92px); }
}

/* Class "scrolled" - it's scrolling the logo over the top at first scroll */
/* Please see the JS for the function that's adding/removing the class */
@media (max-width: 520px) {
	html.responsive body#top.admin-bar #wrap_all #header.scrolled { margin-top: -86px !important; }
	html.responsive body#top:not(.admin-bar) #wrap_all #header.scrolled { margin-top: -88px !important }
	html.responsive body#top.admin-bar #wrap_all #header:not(.scrolled) { /* margin-top: 0px; */ }
	html.responsive body#top:not(.admin-bar) #wrap_all #header:not(.scrolled) { /* margin-top: 0px; */ }
}

/* Define a custom full width class for sections */
.lithe_full_width .container {
    max-width: 100vw;
    padding: 0;
}

/* Top menu current item in green */
.menu-item-top-level.current-menu-item > a > .avia-menu-text {
    background-color: #42d62c;
    border: 2px solid #42d62c;
    padding: 9px;
}
.menu-item .avia-menu-text {
    border-radius: 8px !important;
}
.sub-menu .current-menu-item > a > .avia-menu-text {
    font-weight: bold;
    color: white;
}

/* AdRoll consent in dark */
.adroll_consent_banner, 
.adroll_mini_consent_banner {
    background-color: #212121 !important;
    color: white !important;
}
.adroll_consent_banner li, 
.adroll_mini_consent_text > div {
    color: white !important;
}
.adroll_consent_banner a, 
.adroll_mini_consent_text a {
    color: dodgerblue !important;
}
.adroll_mini_consent_banner .adroll_mini_consent_header svg {
    fill: dodgerblue;
}
.adroll_consent_button, 
.adroll_mini_consent_button {
    background: #212121 !important;
    box-shadow: 0 0 0 0 #666, 0 -1px 0 0 #212121, 0 -5px 5px 0 rgba(10,10,10,.4) !important;
    border: none !important;
}

/* Various forms tweaking especially for mobiles */
::placeholder { 
    color: #444 !important;
    opacity: 1;
}
:-ms-input-placeholder { 
    color: #444;
}
::-ms-input-placeholder { 
    color: #444;
}
.woocommerce-checkout h3 {
    padding-left: 0 !important;
}
h3#ship-to-different-address {
    margin-bottom: 11px;
}
.woocommerce input[type="text"], 
.woocommerce input[type="password"], 
.woocommerce input[type="tel"], 
.woocommerce input[type="email"] {
    padding: 12px 5px !important;
    font-size: large !important;
	color: white !important;
}
.woocommerce input[type="checkbox"] {
    margin: 0 !important;
}
.woocommerce button {
	font-size: large !important;
}
.woocommerce .login .button {
    float: none;
	margin: 10px 0;
}
.woocommerce .woocommerce-form__label-for-checkbox {
    margin: 10px 0;
}
.woocommerce .woocommerce-form__label-for-checkbox > * {
    vertical-align: middle;
	color: #cbcbcb !important;
}
.woocommerce .login .lost_password {
    left: 0;
}
.woocommerce .login .lost_password > a {
    color: #cbcbcb;
}
.lost_reset_password .woocommerce-form-row {
    width: 100%;
}
.lost_reset_password label {
    margin: 0 !important;
}
.lost_reset_password button.woocommerce-Button.button {
    margin-bottom: 20px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    margin-bottom: 50px;
}
.woocommerce .checkout_coupon .button {
    margin: 0;
	padding: 15px 8px;
}
.woocommerce .checkout .payment_methods li input {
    margin: 20px 0 !important;
}
.woocommerce-checkout #payment .payment_method_stripe label[for=payment_method_stripe] {
    padding-left: 20px;
}
#top #payment ul.payment_methods li img {
    margin: 1px;
    max-width: 48px;
    float: none !important;
}
.woocommerce .selection .select2-selection {
    height: 40px;
    padding: 5px;
}
.woocommerce .selection .select2-selection .select2-selection__arrow {
    height: 38px;
}
.woocommerce .showcoupon, 
.woocommerce .showlogin {
    color: #42d62c;
}
#top #payment div.payment_box {
    width: 100%;
    padding: 0px;
}
#top #payment .wc-credit-card-form > .form-row {
    padding: 0;
}
#top #payment .wc-credit-card-form {
    margin-bottom: 0;
}
#top #payment .wc-credit-card-form div#stripe-card-element, 
#top #payment .wc-credit-card-form div#stripe-exp-element, 
#top #payment .wc-credit-card-form div#stripe-cvc-element {
    padding: 12px 2px;
}
.stripe-source-errors .woocommerce-error {
    margin: 20px 0 0 0;
    padding: 0;
}
.stripe-source-errors .woocommerce-error > li {
    background-color: #E0F1B5 !important;
    color: red;
    font-size: large;
    letter-spacing: 0;
}
@media only screen and (max-width: 860px) {
	
}
@media only screen and (max-width: 767px) {
	.responsive #top .col2-set .col-1, 
	.responsive #top .col2-set .col-2 {
		width: 100%;
	}
	.woocommerce .checkout_coupon .form-row {
		width: 100%;
	}
}
@media only screen and (max-width: 520px) {
	.woocommerce .login .button, 
	.woocommerce-form.login .form-row, 
	.woocommerce-billing-fields .form-row, 
	.woocommerce-shipping-fields .form-row, 
	.woocommerce .checkout_coupon .button, 
	.woocommerce-checkout-payment .button {
		width: 100%;
	}
	#top #payment .wc-credit-card-form > .form-row {
		width: 100%;
	}
}

/* Some WooCommerce required styles */
div#main { background-color: #212121;}
main.content { padding-bottom: 0 !important; }
.menu-item-top-level.current-menu-item > a > .avia-menu-text { color: black !important; }

/* Rack type product archive */
.lithe_rack_type_display .products .product {
  width: 100%;
}
.lithe_rack_type_display .page-title {
  display: block;
  padding: 40px 0 0 0;
}
.lithe_rack_type_display .inner_product_header {
  min-height: fit-content !important;
  padding: 0 !important;
  border-top: 0 !important;
}
.lithe_rack_type_display .inner_product .avia_cart_buttons {
  display: none;
}
.lithe_rack_type_display a.xoo-qv-button {
  white-space:  nowrap;
  color: transparent;
}
.lithe_rack_type_display .inner_product {
  position:  relative;
  border: 0;
}
.lithe_rack_type_display .inner_product_header .avia-arrow {
  display: none;
}
.lithe_rack_type_display .product a.brighter-board .thumbnail_container img {
  filter: brightness(125%);
}
.lithe_rack_type_display ul.products li.product {
  margin: -2% 0 -4.5% 0;
}
@media only screen and (max-width: 767px) {
	.lithe_rack_type_display ul.products li.product {
		margin: -1.3% 0 -4.5% 0 !important;
		width: 100% !important;
	}
}
.lithe_rack_type_display li.product .inner_product {
  background: transparent;
}
.lithe_rack_type_display li.product .inner_product_header {
    min-height: 0px !important;
}
@media (min-width:768px) {
	.flex_column_table .lithe_rack_type_display .rack_top {
		/* transform: translate(0px, -90%); */
	}
}
.lithe_rack_type_display img.rack_top_image {
    display: block;
    width: 100%;
}
.lithe_rack_type_display img.rack_bottom_image {
    width: 100%;
	margin-bottom: -2px;
	display: block;
}
.lithe_rack_type_display ul.products:after {
    content: ' ';
    display: block;
    margin-bottom: 4.5%;
	clear: both;
}
.lithe_rack_type_display .real_products ul.products {
   margin: 0;
}

/* Product filters (via shortcode) */
@media (min-width: 768px) {
  form.product-filters select {
	width: calc(50% - 2px) !important;
  }
}
@media (max-width: 767px) {
  form.product-filters select {
	width: 100% !important;
  }
}
form.product-filters select {
  color: #cbcbcb !important;
  margin: 5px 0 !important;
  border-radius: 4px !important;
  display: inline-block !important;
}
a#reset-product-filters {
	color: #12ff1e;
    text-decoration: none;
    background: #111111;
    border: 1px solid #444444;
	border-radius: 4px;
	text-align: center;
    font-weight: bold;
}
@media (min-width: 768px) {
  form.product-filters select {
	width: calc(50% - 24px) !important;
  }
  a#reset-product-filters {
	margin: 5px 0;
    float: right;
    width: 38px;
	height: 38px;
	line-height: 36px;
  }
}
@media (max-width: 767px) {
  form.product-filters select {
	width: calc(100% - 46px) !important;
  }
  a#reset-product-filters {
	margin: 5px 0 0 8px;
    float: right;
    width: 38px;
    height: 86px;
    line-height: 86px;
    position: absolute;
    top: 0;
  }
}
form#product-filters option {
    color: #ddd;
}
form#product-filters option:disabled {
    color: #444;
}

/* xoo Product Popup styling */
.xoo-qv-container .xoo-qv-summary h1.product_title.entry-title { display:none; } /* hide H1 in its initial place in DOM (will move it with JS anyway) */
.xoo-qv-container h1.product_title.entry-title {
	display: inline-block;
    text-align: center;
    width: 90%;
	margin: 10px 5% 10px 5%;
	font-size: 28px;
}
.xoo-qv-container.woocommerce.single-product .xoo-qv-images { width: 48%; }
.xoo-qv-container.woocommerce.single-product .xoo-qv-summary { width: 52%; margin: 0 0%; }
.xoo-qv-panel.xoo-qv-panel-active {
  z-index: 999999;
}
.xoo-qv-container.woocommerce.single-product {
	padding: 0;
	border-radius: 8px !important;
	border: transparent;
	background: transparent;
	left: 50%;
	right: 50%;
	top: calc(50% + 10px);
	bottom: initial;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 65vw;
	max-height: 100vh;
	max-width: 850px;
}
.xoo-qv-container .xoo-qv-main {
	position: relative;
	padding: 0;
	height:  auto;
	max-height: 90vh;
	border-radius: 8px !important;
	border: none;
	background-color: transparent;
}
.xoo-qv-container .xoo-qv-main:after {
    content: '';
    display: block;
    position: fixed;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
    border-radius: 8px;
    border: 1px solid #cbcbcb;
	pointer-events: none;
}
.xoo-qv-container .price del .amount {
	text-decoration: line-through !important;
}
.xoo-qv-container .value.td label.attrib, 
.xoo-qv-container .value.td label.tax {
    color: #cbcbcb;
    font-size: 14px !important;
    padding: 1px;
	display: block;
}
.xoo-qv-container .custom_attrib.tr:after {
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}
.xoo-qv-container .custom_attrib.tr.after-removed:after {
  z-index: 1;
  content: none;
}

.xoo-qv-container .value.td label.attrib.selected {
  color: #42d62c;
}
.xoo-qv-container span.onsale {
  display: none;
}
.xoo-qv-container .xoo-qv-main > div.product.type-product {
    display: block;
    overflow: auto;
	padding: 10px 20px;
}
.xoo-qv-container .xoo-qv-main .xoo-qv-plink {
    border: 1px solid;
    padding: 0;
    display: block;
    margin: 40px 12px;
    text-align: center;
}
.xoo-qv-container .xoo-qv-main .xoo-qv-plink a {
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 2px 40px;
}
.xoo-qv-container .xoo-qv-images .threesixty-image .threesixty-mfp-anchor {
  display: none;
}
.xoo-qv-prev, .xoo-qv-nxt {
  display:  none;
}
/* xoo Product Popup styling - on MOBILES */
@media(max-width:768px) {
  .xoo-qv-container.woocommerce.single-product .xoo-qv-images { width: 100%; }
  .xoo-qv-container.woocommerce.single-product .xoo-qv-summary { width: 100%; margin: 0;}
  .xoo-qv-container.woocommerce.single-product {
	width: 95%;
  }
  .xoo-qv-container .xoo-qv-main {
    max-height: calc(96vh - 55px);
    overflow-y: auto;
  }
  .xoo-qv-container .xoo-qv-summary h1 {
	margin: 14px 0;
  }
  .xoo-qv-container .xoo-qv-close.xoo-qv.xooqv-cross {
	right: 2px;
    top: 51px;
    z-index: 99;
    border: 1px solid #444;
    padding: 8px;
    background-color: #444;
    min-height: 34px;
    border-radius: 5px;
  }
  .xoo-qv-container .woocommerce-product-gallery .threesixty-image {
	margin: 0px auto;
	max-width: 100%;
  }
}
/* The Clear Variations link made button, affects both popup and product page */
a.reset_variations {
    font-size: 14px;
    bottom: -15px;
    right: 12px;
    padding: 10px;
    border: 1px solid;
    line-height: 1px;
}
/* product options "table" styling */
#top .variations_form {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.table.variations .tbody .tr:last-child {
    border: 0;
    margin: 10px 0 0 0;
    padding: 5px;
	border-radius: 4px;
}
.table.variations .tbody .tr .label.td {
    margin: 5px;
	text-align: center;
    font-size: 1.2em;
}
.table.variations .tbody .tr .label.td label {
	font-size: 16px !important;
}
.table.variations span.attrib-description {
	white-space: normal;
	padding: 0 5px !important;
	font-size: 14px;
	display: block;
}
.table.variations .tbody .tr:last-child .value.td > div > label {
	font-size: 16px !important;
}
.table.variations .tbody .tr:last-child .value.td > div {
	/* padding: 0 4px; */
}
/* style the new code of radio buttons, so it won't be affected by the right margin necessary for the stock hint */
#table-variations .inner-attrib input {
    display:  none;
}
#table-variations .inner-attrib {
	display: block;
    font-weight: bold;
    font-size: 0.92em;
}
#table-variations .inner-attrib label.attrib.option {
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    width: 90%;
}
/* style selected radio buttons */
.has-been-selected {
  background-color: #444 !important;
}
/* style checked radio buttons */
#table-variations .radio-checked {
	border: 1px solid;
}
/* Hide Term Description when there's only one Term available */
.hide-because-is-single {
    display: none;
}
/* product tabs removal */
ul.tabs.wc-tabs {
  display: none;
}
/* Hiding the Add To Cart button */
/* ... but only for .lithe_board_section class - that MUST be added manually in Avia Builder */
.lithe_board_section form.variations_form.cart .single_variation_wrap, 
.xoo-qv-container form.variations_form.cart .single_variation_wrap {
  display: none !important;
}
/* hiding Payment Plans title */
div.select.tax_attrib .label.td {
    display: none;
}
/* Hide variable price range */
.av-woo-purchase-button > p.price {
    display: none !important;
}

/* payment options group (un)hide */
.tax_attrib.tr {
  display: none;
}
.tax_attrib.tr.unhide-payments {
  display: block;
}

/* single product page title styling */
body.single-product .container .product_title.entry-title {
    text-align: center;
}

/* == MAKE BUTTONS - ALL == */
.table.variations .tbody .value.td > .buying.tax > .button_wrapper, 
.table.variations .tbody .value-buttons.td > div.attrib {
	border: 1px solid;
	margin: 8px;
	cursor: pointer;
	text-align: center;
}
.table.variations .tbody .buying.tax > .button_wrapper {
	cursor: pointer;
}
.table.variations .tbody .value.td label.attrib.option .inner-attrib span.stock_hint {
    margin: 0 10px;
	font-size: 10px !important;
	color: inherit !important;
}
/* here were the buttons colors */
.value.td > div > .button_wrapper > input[type='radio'], 
.value-buttons.td > div > input[type='radio'], 
.value.td > .each-attrib > div > input[type='radio'] {
    display: none;
}
.value.td > div > label, 
.value-buttons.td > div > label {
	cursor: inherit;
	display: block;
	padding: 2px;
}
.value-buttons.td > div.attrib.has-been-disabled > label { 
	cursor: not-allowed; 
}
/* Hide those Paying Plans that are not available */
.buying.tax.has-been-disabled {
    display: none !important;
}
/* also make buttons from chosen attributes */
.table.variations .tbody .tr:not(:last-child) .label.td > label.product_column_title {
    font-size: 22px !important;
}
.table.variations .tbody .value.td .each-attrib .label.td {
    width: 100% !important;
	display: block;
    padding: 0;
    margin: 5px 0;
    border: 0;
	border-bottom: 1px solid;
}
.table.variations .tbody .value.td .each-attrib, 
.table.variations .tbody .value.td .each-attrib:hover {
	border: 0;
	margin: 10px 0 0 0;
	cursor: default;
	width: calc(50% - 5px) !important;
	display: inline-block;
}
.table.variations .tbody .value.td .each-attrib {
	border-radius: 0;
}
.table.variations .tbody .value.td .each-attrib > div.td {
    padding: 5px;
}
.table.variations .tbody .value.td .each-attrib .value.td, 
.table.variations .tbody .value.td .each-attrib .value-buttons.td {
	width: 100%;
}
.table.variations .tbody .value.td .each-attrib:not(:first-child) {
    border-left: 1px solid;
}
.table.variations .tbody .tr:not(:last-child) > .value.td {
  display: flex;
}
.table.variations .tbody .tr:not(:last-child) > .value.td > .each-attrib {
  flex: 1;
}
.table.variations span.attribPrice, 
.table.variations span.attribStockStatus {
  display: block;
  text-align: center;
}
.table.variations span.attribPreorderStatus {
  display: block;
  color: #42d62c;
}
.table.variations span.attribPrice {
  font-size: 16px;
  font-weight: bold;
  color: #cbcbcb;
  text-align: center;
}
.table.variations span.attribStockStatus {
  font-size: 14px;
}
.table.variations .tbody .value.td div.tax >.button_wrapper, 
.table.variations .tbody .value.td div.attrib  {
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
@media (min-width: 560px) {
	.table.variations .tbody .tr:last-child > .value.td {
		white-space: nowrap;
	}
	.table.variations .tbody .tr .value.td > div.tax {
		/* width: calc(100% - 14px) !important; */
	}
}
@media (max-width:559px){
	.table.variations .tbody .value.td > div, 
	.table.variations .tbody .value-buttons.td > div {
	  /* width: calc(100% - 16px) !important; */
	}
}

/* Bottom section styling */
div#av_section_1 {
	border-top: 0;
}
.improvement_notice p {
	margin: 0;
}
.related.products h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* product spinner styling */
.template-shop .images a.threesixty-mfp-anchor {
	display: none;
}
.threesixty-images > li > img {
	border: 0 !important;
	max-height: 80vh;
	object-fit: contain;
}
.woocommerce-product-gallery .threesixty-image {
    width: 100% !important;
}
.single-product img.threesixty-preview-image, 
.single-product div.product .woocommerce-product-gallery img {
    border: 0;
    width: 100% !important;
    height: 80vh !important;
    margin: 0 auto !important;
    object-fit: contain;
}
.mspc-content .mspc-variation, .mspc-content .mspc-variation.active > .mspc-clearfix {
    border: 1px solid #12ff1e;
}
.mspc-content .mspc-variation {
    border: 0;
}
.mspc-content .mspc-variation, .mspc-content .mspc-variation.active > .mspc-clearfix .mspc-attribute-title {
    color: #12ff1e;
}

/* Soft Goods styling */
/* Opening class is:  */
/* .real_softgoods    */
.real_softgoods ul.products.columns-1 > li.product {
    width: 100%;
}
.real_softgoods ul.products.columns-2 > li.product {
    width: 49.5%;
}
.real_softgoods ul.products.columns-3 > li.product {
    width: 32.6%;
}
.real_softgoods ul.products.columns-4 > li.product {
    width: 24.25%;
}
.real_softgoods a.xoo-qv-button {
    display: none !important;
}


/* Mobile Scroll Hint Icon */
@media (min-width:768px){
  .scroll-hint {
    display:none;
  }
}
.scroll-hint.center
{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
	top: calc(100vh - 14%);
}
.scroll-hint span
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 2px 6px;
}

.scroll-hint .unu, .scroll-hint .doi, .scroll-hint .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
	margin: 3px auto !important;
}
.scroll-hint .unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.scroll-hint .doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
.scroll-hint .trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}
.scroll-hint .mouse
{
height: 21px;
width: 14px;
  border-radius: 10px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}
.scroll-hint .wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
}
.scroll-hint .wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}
@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}
@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* Wholesale form styling */
#wwof_product_search_btn, 
#wwof_product_displayall_btn{
  float: none;
}
#wwof_product_listing_filter input[type="button"] {
  margin: 4px 4px 4px 0;
}
#wwof_product_listing_filter {
  margin-bottom: 0;
}
#wwof_product_listing_table tr:nth-of-type(2n+1) {
    background: initial !important;
}
 
/* Nicer Scrollbar (where available) */
::-webkit-scrollbar { width: 12px; } /* width */
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px grey; border-radius: 6px; } /* Track */
::-webkit-scrollbar-thumb { background: #323232; border-radius: 6px; border: 1px solid #888} /* Handle */
::-webkit-scrollbar-thumb:hover { background: #606060; } /* Handle on hover */
