/**
 * CSS styles for Litheskateboards Woocommerce customizations
 * Version: 1.0.27
 * (version above is equal with main plugin file version when this file was updated)
 */

/* shop default page */
div#main {
    background-color: #212121;
}
.shop_columns_2 .products .product {
  width: 100%;
}
.template-shop .page-title {
  display: block;
  margin: 40px 0 0 0;
}
.template-shop .inner_product_header {
  min-height: fit-content !important;
  padding: 0 !important;
  border-top: 0 !important;
}
.template-shop .inner_product .avia_cart_buttons {
  display: none;
}
.template-shop a.xoo-qv-button {
  white-space:  nowrap;
  color: transparent;
}
.template-shop .inner_product {
  position:  relative;
  border: 0;
}
.inner_product_header .avia-arrow {
  display: none;
}
.product a.brighter-board .thumbnail_container img {
  filter: brightness(125%);
}
ul.products li.product {
  margin: 0 0 -4.5% 0;
}
@media only screen and (max-width: 767px) {
	ul.products li.product {
		margin: 0 0 -4.5% 0 !important;
		width: 100% !important;
	}
}
li.product .inner_product {
  background: transparent;
}
li.product .inner_product_header {
    min-height: 0px !important;
}
@media (min-width: 561px) {
  form.product-filters select {
	width: calc(50% - 2px) !important;
	display: inline-block !important;
  }
}
@media (max-width: 560px) {
  form.product-filters select {
	width: 100% !important;
  }
}
form.product-filters select {
  color: #cbcbcb !important;
  margin: 5px 0 !important;
  border-radius: 4px !important;
}
a#reset-product-filters {
  margin: 10px 0;
  float: right;
  color: #12ff1e;
  text-decoration: none;
}
.woocommerce-page img.rack_top_image {
    display: block;
    width: 100%;
}
.woocommerce-page img.rack_bottom_image {
    width: 100%;
	margin-bottom: -9px;
}
ul.products:after {
    content: ' ';
    display: block;
    margin-bottom: 4.5%;
	clear: both;
}
ul.products {
   margin: -1.4vw 0 0 0;
}
.archive.woocommerce main.template-shop.content {
    padding-bottom: 0;
}

/* xoo Product Popup styling */
.xoo-qv-container .xoo-qv-summary h1.product_title.entry-title { display:none; } /* hide H1 in its initial place in DOM (will move it with JS anyway) */
.xoo-qv-container h1.product_title.entry-title {
	display: inline-block;
    text-align: center;
    width: 90%;
	margin: 10px 5% 30px 5%;
	font-size: 28px;
}
.xoo-qv-container.woocommerce.single-product .xoo-qv-images { width: 48%; }
.xoo-qv-container.woocommerce.single-product .xoo-qv-summary { width: 52%; margin: 0 0%; }
.xoo-qv-panel.xoo-qv-panel-active {
  z-index: 999999;
}
.xoo-qv-container.woocommerce.single-product {
	padding: 0;
	border-radius: 8px !important;
	border: transparent;
	background: transparent;
	left: 50%;
	right: 50%;
	top: 50%;
	bottom: initial;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 65vw;
	max-height: 100vh;
	max-width: 850px;
}
.xoo-qv-container .xoo-qv-main {
  background-color: #262626;
  position: relative;
  padding: 10px 20px;
  height:  auto;
  max-height: 90vh;
  border-radius: 8px !important;
  border: 1px solid #cbcbcb;
  box-shadow: 0 0 1px 0px #cbcbcb inset, 0 0 1px 0px #cbcbcb;
}
.xoo-qv-container a.reset_variations {
    color: #cbcbcb;
    font-size: 14px;
    bottom: initial;
    float: right;
}
.xoo-qv-container h1.product_title {
  color: white;
}
.xoo-qv-container .price del .amount {
  text-decoration: line-through !important;
}
.xoo-qv-container .value.td label.attrib, 
.xoo-qv-container .value.td label.tax {
    color: #cbcbcb;
    font-size: 14px !important;
    padding: 1px;
}
.xoo-qv-container .custom_attrib.tr:after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
.xoo-qv-container .custom_attrib.tr.after-removed:after {
  z-index: 1;
  content: none;
}

.xoo-qv-container .value.td label.attrib.selected {
  color: #42d62c;
}
.xoo-qv-container span.onsale {
  display: none;
}
.xoo-qv-container .xoo-qv-main > div.product.type-product {
    display: block;
    overflow: auto;
}
.xoo-qv-container .xoo-qv-main .xoo-qv-plink {
    background-color: transparent;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    bottom: 20px;
    right: 20px;
	padding: 0;
    float: right;
    display: block;
    margin-top: 40px;
}
.xoo-qv-container .xoo-qv-main .xoo-qv-plink a {
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 2px 40px;
}
.xoo-qv-container .xoo-qv-images .threesixty-image .threesixty-mfp-anchor {
  display: none;
}
.xoo-qv-prev, .xoo-qv-nxt {
  display:  none;
}
/* xoo Product Popup styling - on MOBILES */
@media(max-width:768px) {
  .xoo-qv-container.woocommerce.single-product .xoo-qv-images { width: 100%; }
  .xoo-qv-container.woocommerce.single-product .xoo-qv-summary { width: 100%; margin: 0;}
  .xoo-qv-container.woocommerce.single-product {
	width: 95%;
  }
  .xoo-qv-container .xoo-qv-main {
	max-height: calc(96vh - 2px);
	overflow-y: auto;
	padding: 10px 10px;
  }
  .xoo-qv-container .xoo-qv-summary h1 {
	margin: 14px 0;
  }
  .xoo-qv-container .xoo-qv-close.xoo-qv.xooqv-cross {
	right: 5px;
	top: 55px;
	z-index: 99;
	border: 1px solid #444;
	padding: 4px;
	background-color:  #444;
  }
  .xoo-qv-container .woocommerce-product-gallery .threesixty-image {
	margin: 0px auto;
	max-width: 100%;
  }
}
@media (min-width:768px) and (max-width:1023px) {
  .xoo-qv-container.woocommerce.single-product {
	/* left: 10px; right: 10px; */
  }
}

/* product options "table" styling */
#top .variations_form {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.table.variations .tbody .tr:last-child {
    border: 0;
    margin: 10px 0 0 0;
    padding: 5px;
    /* background-color: #111; */
	border-radius: 4px;
}
.table.variations .tbody .tr .label.td {
    margin: 5px;
	text-align: center;
    font-size: 1.2em;
}
.table.variations .tbody .tr .label.td label {
	color: #42d62c;
	font-size: 16px !important;
}
.table.variations span.attrib-description {
	white-space: normal;
	padding: 0 5px !important;
	color: #cbcbcb;
	font-size: 14px;
}
.table.variations .tbody .tr:last-child .value.td > div > label {
	font-size: 16px !important;
	color: #42d62c;
}
.table.variations .tbody .tr:last-child .value.td > div {
	padding: 0 4px;
}
/* style the new code of radio buttons, so it won't be affected by the right margin necessary for the stock hint */
#table-variations .inner-attrib input {
    display:  none;
}
#table-variations .inner-attrib {
	display: block;
    font-weight: bold;
    font-size: 0.92em;
    color: white;
}
#table-variations .inner-attrib label.attrib.option {
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    width: 90%;
}
/* style selected radio buttons */
.has-been-selected {
  background-color: #444 !important;
}
/* style checked radio buttons */
#table-variations .radio-checked {
	border: 1px solid #42d62c !important;
	color: #42d62c !important;
}
#table-variations .radio-checked label.attrib .inner-attrib {
	color: #42d62c !important;
}
/* Hide Term Description when there's only one Term available */
.hide-because-is-single {
    display: none;
}
/* product tabs removal */
ul.tabs.wc-tabs {
  display: none;
}
/* Hiding the Add To Cart button */
form.variations_form.cart .single_variation_wrap {
  display: none !important;
}
/* hiding Payment Plans title */
div.select.tax_attrib .label.td {
    display: none;
}
/* Hide variable price range */
.av-woo-purchase-button > p.price {
    display: none !important;
}

/* payment options group (un)hide */
.tax_attrib.tr {
  display: none;
}
.tax_attrib.tr.unhide-payments {
  display: block;
}

/* single product page title styling */
body.single-product .container .product_title.entry-title {
    text-align: center;
}


/* == MAKE BUTTONS - ALL == */
.table.variations .tbody .value.td > div.tax, 
.table.variations .tbody .value-buttons.td > div.attrib {
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	margin: 8px;
	cursor: pointer;
	text-align: center;
}
.table.variations .tbody .value.td label.attrib.option .inner-attrib span.stock_hint {
    margin: 0 10px;
	font-size: 10px !important;
	color: inherit !important;
}
.table.variations .tbody .value-buttons.td > div.attrib.has-been-disabled > label.attrib.option .inner-attrib {
    color: #606060;
    border-color: #606060;
}
.table.variations .tbody .value-buttons.td.td > div:not(.has-been-disabled):hover {
    border: 1px solid white;
}
.table.variations .tbody .value.td div.attrib.var_stock_backorder,
.table.variations .tbody .value.td div.attrib.var_stock_backorder .inner-attrib {
    color: #606060 !important;
    border-color: #606060 !important;
}
.table.variations .tbody .value.td div.attrib.var_stock_backorder:hover,
.table.variations .tbody .value.td div.attrib.var_stock_backorder:hover .inner-attrib {
    color: #949494 !important;
    border-color: #949494 !important;
}
.table.variations .tbody .value.td div.attrib.var_stock_not_available:hover, 
.table.variations .tbody .value.td div.attrib.var_stock_not_available, 
.table.variations .tbody .value-buttons.td > div.attrib.has-been-disabled {
	border: 1px solid transparent; /* disabled buttons without border */
} 
.table.variations .tbody .value.td div.attrib.var_stock_not_available > label.attrib.option .inner-attrib,
.table.variations .tbody .value-buttons.td > div.attrib.has-been-disabled > label.attrib.option .inner-attrib {
   color: #606060 !important; /* disabled buttons greyed out */
}
.value.td > div > input[type='radio'], 
.value-buttons.td > div > input[type='radio'], 
.value.td > .each-attrib > div > input[type='radio'] {
    display: none;
}
.value.td > div > label, 
.value-buttons.td > div > label {
	cursor: inherit;
	display: block;
	padding: 2px;
}
.value-buttons.td > div.attrib.has-been-disabled > label { 
	cursor: not-allowed; 
}
/* also make buttons from chosen attributes */
.table.variations .tbody .tr:not(:last-child) .label.td {
    display: none;
}
.table.variations .tbody .value.td .each-attrib .label.td {
    width: 100% !important;
	display: block;
    padding: 0;
    margin: 5px 0;
    border: 0;
	border-bottom: 1px solid #606060;
}
.table.variations .tbody .value.td .each-attrib, 
.table.variations .tbody .value.td .each-attrib:hover {
	border: 0;
	margin: 10px 0 0 0;
	cursor: default;
	width: calc(50% - 5px) !important;
	display: inline-block;
}
.table.variations .tbody .value.td .each-attrib {
	border-radius: 0;
}
.table.variations .tbody .value.td .each-attrib > div.td {
    padding: 5px;
}
.table.variations .tbody .value.td .each-attrib .value.td, 
.table.variations .tbody .value.td .each-attrib .value-buttons.td {
	width: 100%;
}
.table.variations .tbody .value.td .each-attrib:last-child {
    border-left: 1px solid #606060;
}
.table.variations .tbody .tr:not(:last-child) > .value.td {
  display: flex;
}
.table.variations .tbody .tr:not(:last-child) > .value.td > .each-attrib {
  flex: 1;
}
.table.variations span.attribPrice, 
.table.variations span.attribStockStatus {
  display: block;
  color: #cbcbcb;
}
.table.variations span.attribPreorderStatus {
  display: block;
  color: #42d62c;
}
.table.variations span.attribPrice {
  font-size: 16px;
  font-weight: bold;
}
.table.variations span.attribStockStatus {
  font-size: 14px;
}
.table.variations .tbody .value.td div.tax, 
.table.variations .tbody .value.td div.attrib  {
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
@media (min-width: 560px) {
	.table.variations .tbody .tr:last-child > .value.td {
		white-space: nowrap;
	}
	.table.variations .tbody .tr .value.td > div.tax {
		width: calc(100% - 14px) !important;
	}
}
@media (max-width:559px){
	.table.variations .tbody .value.td > div, 
	.table.variations .tbody .value-buttons.td > div {
	  width: calc(100% - 16px) !important;
	}
}

/* Bottom section styling */
div#av_section_1 {
	background-color: #262626;
	border-top: 0;
}
.improvement_notice p {
	margin: 0;
}
.related.products h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* product spinner styling */
.template-shop .images a.threesixty-mfp-anchor {
	display: none;
}
.threesixty-images > li > img {
	border: 0 !important;
	max-height: 80vh;
	object-fit: contain;
}
.woocommerce-product-gallery .threesixty-image {
    width: 100% !important;
}
.single-product img.threesixty-preview-image, 
.single-product div.product .woocommerce-product-gallery img {
    border: 0;
    width: 100% !important;
    height: 80vh !important;
    margin: 0 auto !important;
    object-fit: contain;
}
.mspc-content .mspc-variation, .mspc-content .mspc-variation.active > .mspc-clearfix {
    border: 1px solid #12ff1e;
}
.mspc-content .mspc-variation {
    border: 0;
}
.mspc-content .mspc-variation, .mspc-content .mspc-variation.active > .mspc-clearfix .mspc-attribute-title {
    color: #12ff1e;
}


/* Mobile Scroll Hint Icon */
@media (min-width:768px){
  .scroll-hint {
    display:none;
  }
}
.scroll-hint.center
{
  position: absolute;
  margin: -80px auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
}
.scroll-hint span
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 2px 6px;
}

.scroll-hint .unu, .scroll-hint .doi, .scroll-hint .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
	margin: 3px auto !important;
}
.scroll-hint .unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.scroll-hint .doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
.scroll-hint .trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}
.scroll-hint .mouse
{
height: 21px;
width: 14px;
  border-radius: 10px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}
.scroll-hint .wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
}
.scroll-hint .wheel
{
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}
@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}
@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* Wholesale form styling */
#wwof_product_search_btn, 
#wwof_product_displayall_btn{
  float: none;
}
#wwof_product_listing_filter input[type="button"] {
  margin: 4px 4px 4px 0;
}
#wwof_product_listing_filter {
  margin-bottom: 0;
}

/* Nicer Scrollbar (where available) */
::-webkit-scrollbar { width: 12px; } /* width */
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px grey; border-radius: 6px; } /* Track */
::-webkit-scrollbar-thumb { background: #323232; border-radius: 6px; border: 1px solid #888} /* Handle */
::-webkit-scrollbar-thumb:hover { background: #606060; } /* Handle on hover */
