/* product options "table" COLUMNS */
.table.variations .value.td div {
  display: inline-block;
  width: 33.33%;
}
/* product options "table" styling */
#top .variations_form {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.table.variations .tbody .tr:last-child {
    border: 1px solid #12ff1e;
    margin: 10px 0 0 0;
    padding: 5px;
    background-color: #111;
	border-radius: 4px;
}
.table.variations .tbody .tr .label.td {
    margin: 5px;
	text-align: center;
    font-size: 1.2em;
}
.table.variations .tbody .tr .label.td label {
	color: #12ff1e;
	font-size: 16px !important;
}

/* style disabled radio buttons */
.has-been-disabled {
  opacity: 0.3;
}
/* style selected radio buttons */
.has-been-selected {
  background-color: #444 !important;
}
/* style checked radio buttons */
#table-variations .radio-checked {
	background-color: #444 !important;
	border: 1px solid #12ff1e;
	color: #13ff1e;
}
/* product tabs removal */
ul.tabs.wc-tabs {
  display: none;
}
/* Hiding the Add To Cart button */
form.variations_form.cart .single_variation_wrap {
  display: none !important;
}

/* payment options group (un)hide */
.attribute-pa_paying-plan.tr {
  display: none;
}
.attribute-pa_paying-plan.tr.unhide-payments {
  display: block;
}


/* == MAKE BUTTONS - ALL == */
.table.variations .tbody .value.td > div {
	border: 1px solid #555;
	background-color: #141414;
	border-radius: 5px;
	margin: 8px;
	/* width: calc(33% - 14px) !important; */ /* for 3 columns */
	width: calc(50% - 16px) !important;
	cursor: pointer;
	text-align: center;
}
.table.variations .tbody .value.td > div:hover {
    border: 1px solid #888;
    background-color: #333;
}
.value.td > div > input[type='radio'], 
.value.td > .each-attrib > div > input[type='radio'] {
    display: none;
}
.value.td > div > label {
	cursor: pointer;
	display: block;
	padding: 8px;
}
/* also make buttons from chosen attributes */
.table.variations .tbody .tr:not(:last-child) .label.td {
    display: none;
}
.table.variations .tbody .value.td .each-attrib .label.td {
    width: 100% !important;
	display: block;
    padding: 0;
    margin: 5px 0;
    border: 0;
}
.table.variations .tbody .value.td .each-attrib, 
.table.variations .tbody .value.td .each-attrib:hover {
	border: 1px solid #555;
	margin: 10px 0 0 0;
	cursor: default;
	background-color: #111111;
	width: calc(50% - 5px) !important;
	display: inline-block;
}
.table.variations .tbody .value.td .each-attrib {
  padding: 5px;
}
.table.variations .tbody .value.td .each-attrib .value.td {
	  width: 100%;
}
.table.variations .tbody .value.td .each-attrib:nth-child(even) {
  margin-left: 5px;
}
.table.variations .tbody .value.td .each-attrib:nth-child(odd) {
  margin-right: 5px;
}
.table.variations .tbody .tr:not(:last-child) > .value.td {
  display: flex;
}
.table.variations .tbody .tr:not(:last-child) > .value.td > .each-attrib {
  flex: 1;
}
@media (min-width: 560px) {
	.table.variations .tbody .tr:last-child > .value.td {
		white-space: nowrap;
	}
	.table.variations .tbody .tr:last-child .value.td > div {
		width: calc(33% - 14px) !important;
	}
}
@media (max-width:559px){
	.table.variations .tbody .value.td > div {
	  width: calc(100% - 16px) !important;
	}
}

/* Bottom section styling */
div#av_section_1 {
	background-color: #141414;
	border-top: 0;
}
.improvement_notice p {
	margin: 0;
}
.related.products h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* product spinner styling */
.template-shop .images a.threesixty-mfp-anchor {
  position: absolute !important;
  border: 0;
  background-color: transparent;
}
.threesixty-images > li > img {
    border-color: orange;
}
.mspc-content .mspc-variation, .mspc-content .mspc-variation.active > .mspc-clearfix {
    border: 1px solid #12ff1e;
}
.mspc-content .mspc-variation {
    border: 0;
}
.mspc-content .mspc-variation, .mspc-content .mspc-variation.active > .mspc-clearfix .mspc-attribute-title {
    color: #12ff1e;
}
